@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model TrainingNet.Models.Views.MovieViewModel

<div class = "form-group">
    <div class = "col-md-10">
        @Html.Label("Comment",Localizer["Comments"].Value, new { @class = "col-md-2 control-label" })
        <br>
        @if (Model.Comments.Any())
        {
            <table class="table">
                <tbody>
                        <tr>
                            <td>
                                <script type="text/javascript">
                                    var items = @Html.Raw(Json.Encode(Model.Comments));
                                    for (var i = 0; i < items.length; i++) {
                                        alert(JSON.stringify(items[i], null, 4));
                                    }
                                </script>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <tr>
                <td>
                    @(Localizer["NoComments"].Value)
                </td>
            </tr>
        }
    </div>
</div>
