@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization;
@inject IViewLocalizer Localizer
@model TrainingNet.Models.Views.MovieViewModel

@{ViewData["Title"] = Localizer["Movie"];}
<partial name="~/Views/Shared/_Details.cshtml" view-data="ViewData" />
<div class = "form-group">
    <div class = "col-md-10">
    <form asp-controller="CommentsAPI" asp-action="AddComment" asp-method="post">
        <p>@(Localizer["TextComment"].Value+" "+Localizer["Movie"].Value)<br><br>
            <input id="textForm" type="text" maxlength="50" name="commentText">
            <input id="movieIdForm" type="hidden" value="@Model.Id" asp-for="Id">
            <a href="javascript:void(0)" id=AddCommentButton class="btn btn-default">@(Localizer["SendComment"].Value)</a>
            <a asp-action="Index" asp-controller="Movie" class="btn btn-default" >@(@Localizer["Return"].Value)</a>
        </p>
    </form>
    </div>
</div>
<partial name="~/Views/Shared/_Comments.cshtml" view-data="ViewData" />
